.featured-products{
    padding:80px;
    background:#F8FAFC;
}

.featured-products h2{
    text-align:center;
    font-size:38px;
    margin-bottom:50px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

